DATABASE_URL=
DATABASE_DIRECT_CONNECTION_STRING=
DATABASE_PUBLISHABLE_KEY=
DATABASE_SECRET_KEY=
DATABASE_ANON_KEY=
DATABASE_SERVICE_ROLE_KEY=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini